*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/background1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(248, 242, 191);
    padding: 5px 20px;
    border: 1px solid;
    border-color: rgba(243, 198, 157,0.1);
    background-color:rgba(243, 198, 157,0.1);
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: rgb(248, 242, 191);
    color:rgba(17, 9, 129, 0.959);
}
ul li.active a{
    background-color: rgb(248, 242, 191);
    color:rgba(17, 9, 129, 0.959);
}
.logo img{
    float: left;
    width:100px;
    height:auto;
    margin-top: 15px;
    margin-left: 15px;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
}
.title h1{
    color:rgb(245, 228, 186);
    font-size: 70px;
}
.button{
    position: absolute;
    top: 65%;
    left: 50%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
}
.btn{
    color: black;
    border: 1px solid darkseagreen;
    padding: 10px 30px;
    background-color: darkseagreen;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: rgb(248, 242, 191);
    color:rgba(17, 9, 129, 0.959);
}
